body
{
    background: linear-gradient(to left bottom,lightpink,white,lightgreen,lightpink,white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container
{
    background-color: rgba(255,255,255,0.5);
    height: 350px;
    width: 550px;  
    border-radius: 15px;    
    
}
.ans
{
    background-color: rgba(51,51,255,0.3);
    height: 150px;
    width: 300px;
    margin-left: 128px;
    margin-top: 20px;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: blue;
}

.decrease
{
    height: 60px;
    width: 50px;
    border-radius: 250px;
    margin-left: 20px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 40px;
}

.increase
{
    height: 60px;
    width: 50px;
    border-radius: 250px; 
    margin-left:158px;
    cursor: pointer;
    font-size: 40px;
}

.reset
{
    height:60px;
    width:100px;
    border-radius: 150px;
    margin-left: 145px;
    cursor: pointer;
    font-family: monospace;
    font-size: 25px;
}
